<html>
<head>
    <title>My home temperature and humidity </title>
    <meta http-equiv="refresh" content="2.0">
</head>

<style>
	.btn {width: 126px;}
	div {margin: 10px;}
</style>

<body>
	<table border="1">
		<caption><strong>Sensor Manager</strong></caption>
		<thead>
			<tr><th height="30">Sensor</th>
			<th><center>Current</center></th>
			<th><center>Max</center></th>
			<th><center>Min</center></th></tr>
		</thead>
		<tbody>
			<tr><td width="136" height="30"><center>Temperature(c)</center></td>
			<td width="136"><center>{{temp}}</center></td>
			<td width="136"><center>{{tempMax}}</center></td>
			<td width="136"><center>{{tempMin}}</center></td></tr>
			<tr><td height="30"><center>Humidity(%)</center></td>
			<td><center>{{humi}}</td>
			<td><center>{{humiMax}}</td>
			<td><center>{{humiMin}}</td></tr>
		</tbody>
	</table>
</body>
</html>
